<!-- Card Aside -->			
	<aside class="card">
	    <div class="container">
	
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Client Testimonials</h2>
			<img src="/img/logos/recom5.svg" alt="recom" width=96 height=96>
			</div>
            <div class="row">
			<p class="large text-muted">
             Our clients' success stories speak volumes about our commitment to excellence. Here's what they have to say about working with Hassan and Associates:
             </p>
          </div>
    </div>

	    <div class="row text-center">
            <div class="col-md-4">
                <h4 class="service-heading"> </h4>
                              
                <img src="img/logos/call.svg" class="img-fluid" alt="call" width=115 height=65>
                <a href="#">
                <div class="mask"></a>
                </div>				
                <!--Title-->
                <h4 class="card-title">Asif Karim</h4>
                <!--Text--> 
                <p class="card-text"> <b><img src="/img/logos/quote.svg" alt="quote" width=36 height=36> </b>Syed Hassan Ali demonstrated exceptional expertise and genuine care throughout our engagement. His comprehensive knowledge and personalized approach made all the difference. He invested time to truly understand our challenges and provided strategic guidance that led to outstanding results. We wholeheartedly recommend his services to anyone seeking a dedicated professional who delivers results.</p>
                <a href="https://syedhassanali.postach.io/post/comments-of-asif-karim" class="btn btn-primary">Read More &raquo;</a>
                </div>
        
			
			<div class="row text-center">
            <div class="col-md-4">
                <h4 class="service-heading"> </h4>
                              
                <img src="img/logos/call.svg" class="img-fluid" alt="call" width=115 height=65>
                <a href="#">
                <div class="mask"></a>
                </div>

				
                <!--Title-->
                <h4 class="card-title">S. M. Showkat</h4>
                <!--Text--> 
                <p class="card-text"> <b><img src="/img/logos/quote.svg" alt="quote" width=36 height=36> </b>Hassan and Associates came highly recommended for my complex tax appeal, and they exceeded all expectations. Syed Hassan Ali's extensive experience and deep knowledge were evident from day one. He simplified what seemed overwhelming and guided me through every step with confidence. I highly recommend Hassan and Associates for income tax and related services.</p>
                <a href="https://www.notion.so/hassanandassociates/I-was-referred-to-Hassan-and-Associates-by-a-tax-lawyer-as-i-needed-to-appeal-for-the-purpose-a-revi-01ed847cefcf4bb4bc6903fedf75cacb" class="btn btn-primary">Read More &raquo;</a>
                </div>
            
			 
			<div class="row text-center">
            <div class="col-md-4">
                <h4 class="service-heading"> </h4>
                              
                <img src="img/logos/call.svg" class="img-fluid" alt="call" width=115 height=65>
                <a href="#">
                <div class="mask"></a>
                </div>

				
                <!--Title-->
                <h4 class="card-title">A. K. Hashim</h4>
                <!--Text--> 
                <p class="card-text">  <b><img src="/img/logos/quote.svg" alt="quote" width=36 height=36> </b>Reliable, resourceful, and results-driven—that perfectly describes our experience with Syed Hassan Ali. From our first interaction, he proved to be accessible and responsive. His direct, no-nonsense approach delivers clear insights that enable effective planning and execution. The team's accessibility and prompt communication are truly commendable. We highly recommend Hassan and Associates.</p>
                <a href="https://www.reddit.com/user/upodesta/comments/81eiyb/quates/?ref=share&ref_source=link" class="btn btn-primary">Read More &raquo;</a>
                </div>
            
			<div class="row text-center">
            <div class="col-md-4">
                <h4 class="service-heading"> </h4>
                              
                
                <a href="#">
                <div class="mask"></a>
                </div>

				<!--Title-->
                <h4 class="card-title"></h4>
                <!--Text--> 
                <p class="card-text">  <b> 
                <a href="#" class="#"></a>
                </div>
			
            </div>

         </div>
</aside>
